body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #f0f0f0; 
}
#paper {
  background-image: url('./img/papel_carta.jpg'); /* Caminho para colocar a imagem de fundo */
  background-size: cover;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  min-height: 600px;
}